/* h1{
    color: lightgreen;
    text-align: center;
}

h3{
    color: blue;
    font-weight: bold;
}

p{
    color: red;
}
#truthlie {
    border: 3px solid black;
    border-radius: 1.5em;
    background-color: grey;

    padding: .25em;
    text-align: center;
}

.option {
    border:3px solid black;
    border-radius: 1em;
    background-color: lightgray;
    text-align: center;
    width: 33%;
    display: inline-block;
} */

.title {
    font-style: italic
}

body {
    text-align:center;
}

table {
    background-color: lightskyblue;
}